@import "../../style/App.scss";

.hero {
  padding-top: 240px;
  width: 100%;
  padding-bottom: 60px;
  .hero-info {
    padding-top: 60px;

    p {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }
  .contactinfo {
    display: flex;
    align-items: center;
  }
  .contbtn {
    margin: 0px 10px !important;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
  }
  .contbtnu {
    background-color: #14a800;
    border: 2px solid #14a800;
  }
  .contbtnf {
    background-color: #1dbf73;
    border: 2px solid #1dbf73;
  }
  .contbtnu:hover {
    background-color: rgb(53, 190, 35);
  }
  .contbtnf:hover {
    background-color: #2ace81;
  }
  .paraabout {
    font-size: 14px;
    font-family: inherit;
    // color: rgb(0, 10, 36);
  }

  .hero-image {
    max-width: 570px;
    height: auto;
    float: right;
  }
}

@media screen and (max-width: 1080px) {
  .hero {
    padding-top: 140px;

    .hero-info {
      padding-top: 0px;
    }

    .hero-image {
      float: none;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
.button .button-link {
  color: #ebebeb;
}
.button .button-link:hover {
  color: #2c2c2c;
}

@media screen and (max-width: 990px) {
  .hero {
    .hero-info {
      text-align: center;
    }
  }
}
